.header-top__container {
  background-color: #f5f5f5;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  > .logo {
    max-width: 6.4rem;
    margin: 0.8rem 0;
  }
}

.header__contact {
  > .contact {
    color: #595959;
    > span {
      font-weight: 600;
    }
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header-middle__container {
  background: #0672b9;
}

.header-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-middle__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  margin: 2.4rem 0;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    justify-content: start;
  }
}

.header-middle__list {
  list-style-type: none;
  position: relative;
}

.header-middle__link {
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-align: center;
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.header-middle__search {
  display: none;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
  }
}

.header-middle__link:hover {
  font-weight: 600;
}

.header-middle__right {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }

  button {
    background: transparent;
    outline: none;
    border: 1px solid #f0f0f0;
    padding: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      border: none;
      padding: 0;
    }
  }
}

// animation: move-rtl 10000ms linear infinite;
@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marqee-label {
  background: #e0263c;
  color: var(--color-white);
  padding: 0.7rem 5.8rem;
  z-index: 100;
  font-weight: 600;

  @media only screen and (max-width: $bp-small) {
    padding: 0.7rem 4rem;
  }
}

.header-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ecf7ff;
  overflow: hidden;
}

.marquee-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8.4rem;
  animation: move-rtl 40s linear infinite;
}

.marquee-text {
  text-wrap: nowrap;
}

.section-heading {
  color: #1a1a1a;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4rem;
}

.authority__cards {
}

.authority__card {
  background: var(--color-white);
  border-radius: 1rem;
  max-width: 40rem;
  margin: 0 1.5rem;

  @media only screen and (max-width: $bp-large) {
    max-width: 39rem;
  }

  @media only screen and (max-width: $bp-medium) {
    max-width: 37rem;
  }

  :first-child {
    margin-left: 0rem;
  }

  :last-child {
    margin-right: 0rem;
  }
}

.authority__img {
  width: 100%;
}

.authority__details {
  padding: 1rem 2rem 2rem;
}

.authority__label {
  color: #1a1a1a;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.authority__heading {
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.authority__text {
  color: #595959;
  margin-bottom: 1.5rem;
}

.authority__link {
  display: flex;
  text-decoration: none;
  color: #0672b9;
  font-weight: 600;
  gap: 0.8rem;
  align-items: center;
}

.authority__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.authority__button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
}

.teachers__cards {
}

.teacher__card {
  border-radius: 1rem;
  max-width: 24.2rem;
  margin: 0 1rem;

  @media only screen and (max-width: $bp-large) {
    max-width: 18rem;
  }

  @media only screen and (max-width: $bp-medium) {
    max-width: 15rem;
  }

  :first-child {
    margin-left: 0rem;
  }

  :last-child {
    margin-right: 0rem;
  }
}

.teacher__img {
  width: 100%;
}

.teacher__info {
  padding: 1rem 0;
}

.teacher__name {
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.teacher__title {
  color: #1a1a1a;
  font-size: 1.6rem;
}

.gallery__images {
}

.gallery__image {
  border-radius: 1rem;
  width: 65.6rem;
  height: 40rem;
  margin: 0 1.5rem;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-large) {
    width: 55rem;
  }

  @media only screen and (max-width: $bp-medium) {
    max-width: 90vw;
  }

  :first-child {
    margin-left: 0rem;
  }

  :last-child {
    margin-right: 0rem;
  }

  img {
    width: 65.6rem;
    height: 40rem;
    border-radius: 1rem;
    object-fit: cover;

    @media only screen and (max-width: $bp-large) {
      width: 55rem;
    }

    @media only screen and (max-width: $bp-medium) {
      max-width: 90vw;
    }
  }
}

.location__map {
  background: red;
  height: 50rem;

  iframe {
    height: 100%;
    width: 100%;
    display: block;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    gap: 6rem;
  }
}

.footer__left {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  @media only screen and (max-width: $bp-large) {
    flex-direction: row;
    align-items: center;
  }
}

.footer__text {
  color: var(--color-white);
  opacity: 0.8;
  max-width: 31.9rem;
}

.footer__logo {
  width: 8rem;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 12.8rem;
  row-gap: 2rem;
  text-wrap: nowrap;

  @media only screen and (max-width: $bp-large) {
    column-gap: 8rem;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__link {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  padding-bottom: 2rem;
  gap: 3rem;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.footer__copy {
  color: var(--color-white);
  text-decoration: none;
  opacity: 0.4;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.authority-button-wrapper,
.teachers-button-wrapper,
.gallery-button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.2rem;
}

.slick-arrow {
  width: 0;
  height: 0;
}

.slick-prev,
.slick-next {
  z-index: 4000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background: var(--color-text--dark);
    color: var(--color-white);
  }
}

.slick-prev::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url('/img/icons/authority-prev.svg');
  transform: translateX(5px);
}

.slick-next::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url('/img/icons/authority-next.svg');
  transform: translateX(-5px);
}

.hero {
  display: grid;
  grid-template-columns: 16.92fr 50.42fr 29.78fr;
  gap: 2rem;

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}

.hero__container {
  position: relative;
}

.hero__links {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  @media only screen and (max-width: $bp-largest) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media only screen and (max-width: $bp-small) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.hero__btn {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 500;
  line-height: 2.2 rem;
  background: #0672b9;
  border-radius: 0.4rem;
  padding: 1.2rem 1.7rem 1.2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notices__hero {
  background: #f2f2f2;
  border-radius: 1rem;
  padding: 2.2rem;
  max-height: 48.4rem;

  @media only screen and (max-width: $bp-largest) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media only screen and (max-width: $bp-small) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.notices__heading {
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.notices__container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 4rem;
  scrollbar-width: thin;
  max-height: 35rem;
}

.notice__box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notice__headline {
  color: #1a1a1a;
  font-weight: 500;
}

.notice__view {
  color: #0672b9;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.hero__sliders {
  width: 70.6rem;

  @media only screen and (max-width: $bp-largest) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.hero__slide {
  width: 70.6rem;
  height: 100%;
  border-radius: 0.4rem;

  img {
    width: 70.6rem;
    height: 48.1rem;
    display: flex;
    object-fit: cover;
    border-radius: 0.4rem;
  }
}

.hero__arrows {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 20rem;
  justify-content: center;
  align-items: center;
  transform: translateY(-4rem);

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }
}

.hero__arrows {
  .slick-prev::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: url('/img/icons/prev.svg');
    transform: translateX(-19rem);
    background: #0e0e0e71;
    border-radius: 100%;
  }

  .slick-next::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: url('/img/icons/next.svg');
    transform: translateX(19rem);
    background: #0e0e0e71;
    border-radius: 100%;
  }
}

.hero-mobile__sliders {
  display: none;
  height: 41rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  border-radius: 1rem;

  @media only screen and (max-width: $bp-medium) {
    display: block;
  }
}

.hero-mobile__slide {
  height: 41rem;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  overflow: hidden;
  border-radius: 1rem;

  @media only screen and (max-width: $bp-medium) {
    width: 70vw;
  }

  @media only screen and (max-width: $bp-small) {
    width: 100vw;
    margin: 0 0.5rem;
  }

  img {
    width: 70vw;
    height: 100%;
    object-fit: cover;

    @media only screen and (max-width: $bp-medium) {
      width: 70vw;
      border-radius: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100vw;
    }
  }
}

.hero-mobile__btns {
  margin: 6.2rem 0;
  display: none;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
  }
}

.dropdown__lists {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 40rem;
  list-style-type: none;
  position: absolute;
  background: #0672b9;
  z-index: 999;
  top: 2rem;
  left: 0;
  border-radius: 0.5rem;
  padding: 3rem 2rem 2rem;
  transition: all 0.2s ease-in-out;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    width: 15rem;
    left: -6rem;
  }

  @media only screen and (max-width: $bp-medium) {
    left: 0;
  }
}

.dropdown__link {
  text-decoration: none;
  color: var(--color-white);
  display: block;
  transition: all 0.2s ease-in-out;
}

.dropdown__link:hover {
  font-weight: 500;
}

.header-middle__others:hover .dropdown__lists {
  display: grid;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
  }
}
